/**
Only for FrontEnd
*/
.wppcd-wrapper a{
    text-decoration: none !important;
}
h3.item-heading a {
    color: black;
    font-weight: bold;
}

h3.item-heading a:hover {
    color: #009688;
}

.wppcd-wrapper.docs-wrapper {}

.wppcd-wrapper.docs-wrapper li {}

.wppcd-wrapper.docs-wrapper ul {
    margin-left: 20px;
}

.wppcd-wrapper.docs-wrapper li,.wppcd-wrapper.docs-wrapper li a {
    color: #898989;
}

.wppcd-wrapper.docs-wrapper li:hover, .wppcd-wrapper.docs-wrapper li a:hover {
    color: #2196f3;
}
span.wppcd-only-login-user {
    color: #7e7e7e91;
}
.widget .wppcd-inside-wrapper .each-taxonomy-item-wrapper {
    background: #dddddd24;
    padding: 0 10px;
    border: 1px solid #dddddd75;
    margin-bottom: 3px;
}
.widget .wppcd-inside-wrapper .wppcd-active-taxonomy-wrapper.each-taxonomy-item-wrapper {
    background: #dddddd47;
    padding: 0 10px;
    border: 1px solid #dddddda6;
}

li.each-doc-item.active-item a {
    font-weight: 600;
    text-decoration: underline !important;
}


/****** New Code ******/
.wppcd h3.item-heading,.wppcd h3.item-heading a {
    font-size: 20px;
    font-weight: 400;
}

.wppcd .each-item-inside {}

.wppcd li.each-doc-item {}

.wppcd li.each-doc-item a:hover {
    color: #1e799d;
}

.wppcd ul.item-list {
    padding: 0;
    list-style: none;
    margin: 0;
}

.wppcd li.each-doc-item:before {content: "-";}

.wppcd .each-taxonomy-item-wrapper {
    padding-bottom: 20px;
}

/****** New Code END ******/

@media only screen and (max-width: 991px){
    .wppcd-main-wrapper.wppcd {
        margin-top: 25px;
        padding: 15px;
    }
}






/***** style for sidebar start here *******/
.widget .wppcd-inside-wrapper .each-taxonomy-item-wrapper[data-status='opened'] {
    border-top: 2px solid #1e3c4a82;
}
.sidebar section.widget .wppcd-inside-wrapper ul.item-list li a{
    padding-left: 6px;
}
.sidebar section.widget .wppcd-inside-wrapper ul.item-list li a:before{
    position: absolute;
    left: 0;
    content: "";
    top: 1px;
}
.widget .wppcd-inside-wrapper h3.item-heading {
    font-size: 17px;
    font-weight: normal;
    color: #343333;
}
.widget .wppcd-inside-wrapper .wppcd-active-taxonomy-wrapper h3.item-heading {
    font-weight: bold;
}
.widget .wppcd-inside-wrapper {}

.widget .wppcd-inside-wrapper ul.item-list {
    padding: 0;
    margin: 0;
    font-size: 12px;
    list-style: none;
}

.widget .wppcd-inside-wrapper ul.item-list li>a {
    font-size: 14px;
    line-height: 15px;
}

.widget .wppcd-inside-wrapper ul.item-list>li {
    margin-bottom: 9px !important;
}


.widget .wppcd-inside-wrapper .each-taxonomy-item-wrapper {}

.widget .wppcd-inside-wrapper .each-taxonomy-item-wrapper ul.item-list {
    display: none;
}
.widget .wppcd-inside-wrapper .wppcd-active-taxonomy-wrapper.each-taxonomy-item-wrapper ul.item-list {
    display: block;
}
.widget .wppcd-inside-wrapper .each-taxonomy-item-wrapper[data-status='collapsed'] h3.item-heading {
    background: #ffffff08;
}

.wppcd-.each-taxonomy-item-wrapper.taxonomy-item-wrapper-369.collapse-able {}

.widget .wppcd-inside-wrapper .each-taxonomy-item-wrapper[data-status='collapsed'] h3.item-heading:after {content: "+";}
.widget .wppcd-inside-wrapper .each-taxonomy-item-wrapper[data-status='opened'] h3.item-heading:after {content: "-";}
.widget .wppcd-inside-wrapper .each-taxonomy-item-wrapper h3.item-heading:after{
    float: right;
}
.widget .wppcd-inside-wrapper h3.item-heading{
    cursor: pointer;
    margin-top: 8px;
    margin-bottom: 8px;
}
/***** style for sidebar end here *******/